html {
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1400px) {
    .customWidth {
        width: 200px !important;
    }
    .card:hover {
        background-color: aqua;
        cursor: col-resize;
    }
}
    
body {
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 3em 3em 4em;
}

.first {
    margin-top: 70px;
}

.coverimage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 400px;
    width: 100%;
    background-attachment: fixed;

}

.herocopy{ 
    color: aliceblue;
    position: relative;
    left: 100px;
    top: 100px;
    font-size:1.5em;
    font-weight:bold;
}

.title{
    text-align: center;

}

.subtitle{
    text-align: center;
}

.container.button{
    margin-top:90px;
    margin-bottom:30px;
    text-align: center;
}
.ui.container{
    margin-top:50px;
}

.ui.grid {
    margin: 0 !important;
}

.ui.card{
    margin-top: 60px;
    max-width: 250px;
    align-content: stretch;
}
   
}
.ui.container{
    margin-top:200px;
    max-width:100px;
    padding: 40px 20px 40px 20px;
}
.bottom.container{
    max-width: 1000px;
    padding-right:30px;
    margin: 90px auto;
}

.ui.comments{
    margin: 0 auto;
}
.content{
    padding: 2px 20px;
}
.deliver{
    font-size:9px;
}

.tab.section{
    max-width:1000px;
    margin:100px auto;
    max-width: 1200px;
    padding-right:30px;
    margin: 90px auto;
}

.ui.comments{
    margin: 0 auto;
}
.content{
    padding: 2px 20px;
}
.deliver{
    font-size:9px;
}







.column.test{
    max-width:1000px;
    margin: 0 auto;
}
.tab{
    max-width: 1000px;
    margin: 0 auto;
}

.ui.tabular.menu {
    border-radius: 0em;
    box-shadow: none !important;
    border: none;
    background: none transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


}
p {
    font-size: 13px;
    line-height:1.6em;
    margin-top:16px;
}

/*button*/

.dropdown.icon {
    float:right;
}

.ui.vertical.accordion.menu{
    margin-left:500px;
    width: 800px;
}

.ui.definition.table{
    margin-top:10px;
    margin-bottom:10px;
}

.ui.styled.accordion{
		border-color:none;
		border-radius:none !important;
		max-height:930px;
}

.ui.styled.accordion > .title {
	padding: 1.5em;
	border-radius: none !important;
	color: rgba(0, 0, 0, 0.6);
}

.angle.down.icon{
    padding-left:450px;
}

.dropdowncontent {
		padding: 0px 10px 0px 10px;
		line-height: 1.5em;
}

.ui.segment{
    margin:0 auto;
    padding: 20px 20px 20px 20px;
    max-width: 500px;
}

.modalcontainer{
    max-width: 800px !important;
		margin:0 auto;
}
    
.ui.fullscreen.modal {
    max-width: 500px !important;
    margin: 0 auto;
    background: #FFF;
}
.modal.header{
    background-color:#fa6462!important;
		color:white !important;
    text-align: center;
		box-shadow: none !important;
}

.towhom{
		text-align: left;
}
.questiontype{
		text-align: left;
}

.ui.compact.menu{
		margin-left: 4px;
}

.ui.primary.button {
		background-color: #fa6462;
		margin-top: 5px;
		margin-bottom: 10px;
}

.ui.primary.button:hover {
		background-color: #fa6462;
}

.ui.modal .actions {
		text-align: center !important;
}

.others {
		font-size: 11px;
		text-align: center;
		margin-top: 2px;
}
