html {
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1400px) {
    .customWidth {
        width: 200px !important;
    }
    .card:hover {
        background-color: aqua;
        cursor: col-resize;
    }
}
    
body {
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 3em 3em 4em;
}

.first {
    margin-top: 70px;
}

.title{
    text-align: center;

}
.subtitle{
    text-align: center;
}

.container.button{
    margin-top:90px;
    margin-bottom:30px;
    text-align: center;
}
.ui.container{
    margin-top:50px;    
}

.ui.grid {
    margin: 0 !important;
}

.ui.card{
    margin-top: 60px;
    max-width: 250px;
    align-content: stretch;
}
   
}
.ui.container{
    margin-top:200px;
    max-width:100px;
    padding: 40px 20px 40px 20px;
}
.bottom.container{
    max-width: 1000px;
    padding-right:30px;
    margin: 90px auto;
}

.ui.comments{
    margin: 0 auto;
}
.content{
    padding: 2px 20px;
}
.deliver{
    font-size:9px;
}

.tab.section{
    max-width:1000px;
    margin:100px auto;
}

.column.test{
    max-width:1000px;
    margin: 0 auto;
}
.tab{
    max-width: 1000px;
    margin: 0 auto;
}

.ui.tabular.menu {
    border-radius: 0em;
    box-shadow: none !important;
    border: none;
    background: none transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


h1, h2, h3, h4, h5, h6 {
    color: #777777;
    font-weight: 800px;
    line-height: 1.1em;
}
p {
    font-size: 13px;
    line-height:1.6em;
    margin-top:16px;
}

/*button*/


.image{
    width:auto;
    height:auto;
    background-size: cover;
    background-position: center center;
}



h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 20px solid rgba(3,3,3,0.4);
    border-radius: 1px;
    display: block;
    margin: 10px auto;
    width: 300px;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
